html {
	height: 100%;
}

body {
	font-size: 24px;
	padding-top: 0px;
	background-color: #121314;
	color: white;
	height: 100%;
}

.container {
	background-color: #494949;
	padding: 10px 0px;
}

.main {
	min-height: 100%;
	padding-bottom: 47px;
}

#message {
	width: 600px;
	height: 45px;
	position: relative;
	top: 1px;
	border-radius: 5px;
	padding-left: 5px;
	color: black;
	background-color: #B6B6B6;
}

.messagesDiv {
	padding-left: 0px;
}

.upvote {
	margin-right: 10px;
	font-size: 15px;
	font-weight: 900;
}

.orange {
	color: #C63D0F;
}

.red {
	color: red;
	font-size: 20px;
}

.messagesDiv li {
	list-style: none;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}

.messagesDiv li:nth-child(odd) {
	background-color: #222326;
}

.nopadding {
	padding-left: 0px;
	padding-right: 0px;
}

#input {
	margin-left: 10px;
}

.immortal {
	padding: 5px 0 0 0;
}

#send-message {
	background-color: #C63D0F;
	border-color: #C63D0F;
	padding: 10px 30px;
}

#send-message:hover {
	background-color: #631E08;
	border-color: #631E08;
}

.immortalMessageList {
	margin-bottom: 5px;
}

.immortalMessageList li {
	list-style: none;
	text-align: center;
}

.footer {
	min-width: 100%;
	background-color: #494949;
	border-top: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}

#form {
	width: 800px;
	margin: 0 auto;
}

.top {
	background-color: #494949;
	border-bottom: 1px solid black;
}

.different {
	background-color: #3A3A3A;
}

footer {
	padding: 5px 5px;
}



