/* -------------- Document Styles -------------- */

html {
	height: 100%;
}

body {
	font-size: 24px;
	padding-top: 0px;
	background-color: #121314;
	color: black;
	height: 100%;
	font-family: 'Dosis', sans-serif;
}

h1 {
	font-family: 'Amatic SC', cursive;
}

.nopadding {
	padding-left: 0px;
	padding-right: 0px;
}

.dark-blue {
	color: #133263;
}

.dark {
	background-color: white;
}

.yellow {
	color: #FFC539;
	font-size: 20px;
}

/* -------------- Top Segment -------------- */

.top {
	border-bottom: 2px groove white;
	font-size: 16px;
}

.immortal {
	padding: 5px 0 0 0;
}

.immortalMessageList {
	margin-bottom: 5px;
}

.logo {
	padding-top: 16px;
	padding-left: 0px;
}

.room-name {
	font-size: 48px;
}

.immortalMessageList li {
	list-style: none;
	text-align: center;
	font-size: 25px;
	padding: 20px 5px 30px 5px;
	background-color: white;
	border-radius: 15px

}

.immortalMessageList span {
	font-size: 18px;
	color: #8C99A6;
	margin: 0 10px 0px 10px;

}

.immortalMessageList li .content {
	text-align: centre;
	font-size: 30px;
}

.immortalMessageList li .time {
	float: left;
}

.immortalMessageList li .user-name {
	float: right;
}
/* -------------- Main Message Segment -------------- */

.container {
	padding: 10px 0px;
	border: 2px;
}

.main {
	min-height: 100%;
	padding-bottom: 86px;
}

.messagesDiv {
	padding-left: 0px;
}

.upvote {
	margin-right: 10px;
	font-size: 15px;
	font-weight: 900;
}

.messagesDiv li {
	list-style: none;
	background-color: #8C8C8F;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Dosis', sans-serif;
	border: 1px solid #F3F2F7;
}

.messagesDiv li:nth-child(odd) {
	background-color: #F3F2F7;
}

/* -------------- Bottom Segment -------------- */


#message {
	width: 500px;
	height: 75px;
	position: relative;
	top: 1px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
	background-color: #DFE0E6;
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#input {
	position: relative;
}

.btn {
	font-family: 'Amatic SC', cursive;
	font-size: 35px;
	padding: 14px 35px;
	margin: 0 auto;

}

.send-message {
	border-color: #212E3D;
	background-color: black;
}

.send-message:hover {
	background-color: #133263;
	border-color: black;
}


.draw-btn {
	float: left;
	border-color: #E89D29;
	background-color: #FFC539;
	color: #3D1828;
}

.draw-btn:hover {
	background-color: #E89D29;
	border-color: #FFC539;
}

.footer {
	min-width: 100%;
	border-top: 2px groove darkgrey;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

#form {
	width: 800px;
	margin: 0 auto;

}

.footer {
	padding: 10px 5px;
}


.grey {
	background-color: "#8A8A8A";
}



